@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

p {
  color: transparent;
}

/* Content */

.contentDashboard {
  width: 100%;
  max-width: 100%;
}

/* Forms */
.forms {
  display: none;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.formBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #3f3f3f85;
}

/* Create Form */
.createForm {
  display: none;
  height: 90%;
  max-height: 1370px;
  width: 500px;
  left: 35%;
}

.createForm form {
  overflow-x: hidden;
  overflow-y: auto;
}

.updateForm {
  display: none;
  height: 90%;
  max-height: 1370px;
  width: 500px;
  left: 35%;
}

#product {
  width: 600px;
}

.updateForm form {
  overflow-x: hidden;
  overflow-y: auto;
}

.form {
  margin-top: 10%;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;   
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 5;
}

.title {
  color: #696969;
  font-size: 20px;
  z-index: 4;
  top: 0;
  width: 100%;
  position: sticky;
  padding: 10px 10px 10px 0;
  background-color: #FFFFFF;
}

/* Image Drop Zone */

.imageContainer {
  margin-top: 15px;
  color: #686666;
  display: flex;
  flex-direction: column;
  height: 320px;
  max-height: 320px;
  margin-bottom: 15px;
}

.dropArea-1, .dropArea-2, .dropAreaOver {
  border-radius: 5px;
  padding: 10px;
  border: 1px dashed #c7c6c6;
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  width: calc(100% - 20px);
}

.dropAreaOver {
  border: 1px solid #c7c6c6;
}

.dropAreaImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.dropAreaImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.dropTextArea {
  display: flex;
  flex-direction: column;
}

.dropText {
  color: #DADCE0;
}

.dropText:last-child {
  font-size: 12px;
}

.dropAreaInput {
  display: none;
}

/* Form Inputs */

.containerDouble {
  color: #686666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}

.containerDouble div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container, .containerSelect {
  color: #686666;
  display: flex;
  flex-direction: column;
  height: 65px;
  width: calc(100% - 20px);
}

.containerSelect {
  width: 100%;
}

.container input {
  width: 100%;
}

#product .container input {
  width: 100%;
}

.container select {
  width: 100%;
}

.textareaContainer {
  max-height: 100px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
}

textarea {
  color: #686666;
  width: 100%;
  height: 60px;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #c7c6c6;
  font-family: 'Poppins', sans-serif;
}

textarea:focus {
  outline: none !important;
}

/* Tagger */

.tagsContainer {
  width: 100%;
  height: 300px; 
  margin-bottom: 15px;
}

.tagger {
  width: 100%;
  height: 78%;
  min-height: 50px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #c7c6c6;
  display: block;
  overflow-y: auto; 
}

.inputAllTags {
  display: none;
}

#inputAmount {
  display: none;
}

.addTagSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 5px 5px;
  border: 1px solid #c7c6c6;
  border-top: 0;
  background-color: #FFFFFF;
}

.addTagSection input {
  color: #686666;
  border: none;
  width: 100%;
  font-size: 12px;
  margin: 10px;
}

.addTagSection input::placeholder {
  color: #DADCE0;
}

.addTagSection input:focus {
  outline: none;
}

.addTagButton {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  border-radius: 0 0 5px 0;
  border-left: 1px solid #c7c6c6;
}

.addTagButton:hover {
  background-color: rgb(240, 240, 240);
}

.addTagIcon {
  width: 17px;
  stroke: #686666;
}

.tag {
  color: #686666;
  height: 34px;
  max-width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.tagNumber {
  color: #686666;
  border-radius: 5px 0 0 5px;
  border: 1px solid #7182e4;
  border-right: 0;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagText {
  padding: 2px 10px;
  border: 1px solid #7182e4;
  border-right: 0;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
  width: 80%;
}

.tagButton {
  padding: 0 2px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #7182e4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  width: 10%;
}

.deleteIcon {
  width: 15px;
  stroke: #686666;
}

/* Inputs */

.firstInput {
  margin-right: 15px;
}

.input {
  width: 160px;
  height: 30px;
  padding: 0 10px 0 10px;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  background: none;
  z-index: 1;
  -webkit-appearance: none;
  color: #686666;
}

.inputSelect {
  height: 30px;
  color: #DADCE0;
  padding: 0 10px 0 10px;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  background: none;
  z-index: 1;
  -webkit-appearance: none;
}

option {
  color: #686666;
}

.optionDisabled {
  color: #818181;
}

.optionSelected {
  color: #686666;
}

#inputDate[value=""] {
  color: #DADCE0;
}

.label {
  color: #686666;
  font-size: 12px;
  font-weight: bold;
  width: max-content;
}

.errorLabel {
  display: none;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  color: #ca5050;
  width: max-content;
}

.opaqueLabelText {
  color: #9c9ea1;
}

.buttonContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  position: sticky;
  padding: 10px 10px 10px 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.createButton, .cancelButton, .updateButton {
  font-family: 'Poppins', sans-serif;
}

/* Update and Create Form Buttons*/

.createButton {
  display: block;
  padding: 5px 15px;
  border: none;
  background-color: #5e72e4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.createButton:hover {
  background-color: #7182e4;
}

.cancelButton {
  display: block;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;
  margin-left: 10px;
  background-color: #cc3d3d;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

.cancelButton:hover {
  background-color: #ca5050;
}

.updateButton {
  display: block;
  padding: 5px 15px;
  border: none;
  background-color: #5e72e4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.updateButton:hover {
  background-color: #7182e4;
}

/* Table */

.tableContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

table {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
}

table tr td {
  width: 10%;
}

.table {
  overflow-x: auto;
  color: #7e7e7e;
  border-collapse: collapse;
  margin: 15px 0 0 0;
  font-weight: bolder;
  font-size: 11px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  /* Personalizacion de Scrollbar para (Firefox) */
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.table thead tr {
  background-color: #e9e9e9;
  color: #585858;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
}

.table th, .table td {
  padding: 12px 15px;
}

.table tbody tr {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

/*
.table tbody tr:nth-of-type(even) {
  background-color: #e6e6e6;
}*/

.table tbody tr:last-of-type {
  border-bottom: 0px;
}

.table tbody tr.activeRow {
  font-weight: bold;
  color: #0083A3;
}

.activeState{
  color: #5e72e4;
  border: 1px solid #5e72e4;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.inactiveState {
  color: #ca5050;
  border: 1px solid #ca5050;
  border-radius: 5px;
  padding: 2px 5.68px 2px 5.68px;
}

.productImage {
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

/* Table Actions */

.trashSvg {
  width: 20px;
  height: 20px;
  stroke: #cc3d3d;
}

.trashSvg:hover {
  stroke: #ca5050;
}

.pencilSvg {
  width: 20px;
  height: 20px;
  fill: #5e72e4;
}

.pencilSvg:hover {
  fill: #7182e4;
}


.botonEliminar {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.botonEliminar:hover {
  cursor: pointer;
  transform: translate(0, -3px);
}

.actionButtonContainer {
  background-color: #e9e9e9;
  position: sticky;
  right: 0;
}

.actionButton {
  position: sticky;
  right: 0;
  background-color: #ffffff;
}

.actionButton div{
  display: flex;
  flex-direction: row;
}

.actionButton form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.botonEditar {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.botonEditar:hover {
  transform: translate(0, -3px);
}

/* Bread Crumbs */

.topBar, .topBarCollected {
  font-size: 13px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5); 
  color: #DADCE0;
  left: 200px;
  width: calc(100% - 200px);
  height: 75px;
  border: 1px solid #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.topBarCollected {
  left: 60px;
  width: calc(100% - 60px);
}

.breadCrumbs {
  margin-top: 15px;
  margin-left: 20px;
}

#imageProfile { 
  width: 40px;
  height: 40px;
  border-radius: 150px;
  border: 1px solid #b6b6b6;
  margin-right: 20px;
}

.currentPage {
  color: #5e72e4;
}

/* Table Header Content */

.tableHeaderContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

/* Header Select Form */

.formSelect {
  height: 100%;
}

.formSelect select {
  border: 1px solid #DADCE0;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 75px;
  height: 100%;
  outline: none;
}

.firstSection {
  display: flex;
  flex-direction: row;
}

.registersSelect {
  color: #686666;
  font-size: 13px;
  padding: 0 0 0 10px;
}

.createLink {
  font-size: 13px;
  text-align: center;
  color: #F5F5F5;
  background-color: #5e72e4;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.createLink:hover {
  background-color: #7182e4;
}

.addIcon {
  height: 13px;
  width: 13px;
  margin-right: 3px;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
}

.searchForm {
  display: flex;
  flex-direction: row;
}

.searchInput {
  color: #686666;
  border-radius: 5px 0 0 5px;
  border: 1px solid #DADCE0;
  height: 18px;
  margin: 0;
  padding: 7px;
  width: 250px;
}

.searchInput::placeholder {
  color: #DADCE0;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  background-color: #5e72e4;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 15px 0 15px;
  margin-left: -1px;
  height: 100%;
}

.searchButton:hover {
  cursor: pointer;
  background-color: #7182e4;
}

/* Table Paginator */

.paginatorButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.paginatorArrows {
  display: flex;
  flex-direction: row;
}

.backForwardPaginator {
  cursor: pointer;
  width: max-content;
  margin-left: 10px;
}

.paginatorSvg{
  stroke: #a1a1a1;
  width: 20px;
  height: 25px;
}

#Active svg{
  stroke: #3f3e3e;
}

.paginatorText{
  color: #7e7e7e;
  font-size: 13px;
  padding-top: 5px;
  margin-right: 10px;
}

:focus {
  outline: none;
}

/* Responsive Content */

/* Desktop */
@media screen and (min-width: 1024px) {

}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Phones */
@media screen and (max-width: 767px) {

}

/* Personalizacion de Scrollbar para (Chrome, Safari, Opera) */

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,.table::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c6c6;
  border-radius: 5px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}